<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sticker_43_streetlamp2_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1},{192,693}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{192,693}}</string>
        <key>sourceSize</key>
        <string>{192,693}</string>
      </dict>
      <key>sticker_26_selfie_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,1},{247,413}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{247,413}}</string>
        <key>sourceSize</key>
        <string>{247,413}</string>
      </dict>
      <key>sticker_82_catclimb_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,1},{301,306}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{301,306}}</string>
        <key>sourceSize</key>
        <string>{301,306}</string>
      </dict>
      <key>sticker_1_ape_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{444,309},{272,337}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{272,337}}</string>
        <key>sourceSize</key>
        <string>{272,337}</string>
      </dict>
      <key>sticker_46_branch_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,648},{329,278}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{329,278}}</string>
        <key>sourceSize</key>
        <string>{329,278}</string>
      </dict>
      <key>sticker_25_plant1_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,648},{247,334}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{247,334}}</string>
        <key>sourceSize</key>
        <string>{247,334}</string>
      </dict>
      <key>sticker_17_girlpoint_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,1},{186,412}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,412}}</string>
        <key>sourceSize</key>
        <string>{186,412}</string>
      </dict>
      <key>sticker_86_banner_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{526,897},{462,154}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{462,154}}</string>
        <key>sourceSize</key>
        <string>{462,154}</string>
      </dict>
      <key>sticker_35_lady1_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,928},{195,359}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{195,359}}</string>
        <key>sourceSize</key>
        <string>{195,359}</string>
      </dict>
      <key>sticker_16_hoodie_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{718,415},{178,375}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{178,375}}</string>
        <key>sourceSize</key>
        <string>{178,375}</string>
      </dict>
      <key>sticker_62_sneak_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{935,1},{343,189}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{343,189}}</string>
        <key>sourceSize</key>
        <string>{343,189}</string>
      </dict>
      <key>sticker_88_manwait_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,595},{179,352}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,352}}</string>
        <key>sourceSize</key>
        <string>{179,352}</string>
      </dict>
      <key>sticker_18_kid_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{990,949},{180,304}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{180,304}}</string>
        <key>sourceSize</key>
        <string>{180,304}</string>
      </dict>
      <key>sticker_23_looking_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{195,416},{204,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{204,232}}</string>
        <key>sourceSize</key>
        <string>{204,232}</string>
      </dict>
      <key>sticker_63_wolf_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,1053},{287,163}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{287,163}}</string>
        <key>sourceSize</key>
        <string>{287,163}</string>
      </dict>
      <key>sticker_44_receive_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1125},{235,187}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{235,187}}</string>
        <key>sourceSize</key>
        <string>{235,187}</string>
      </dict>
      <key>sticker_9_shall_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,1053},{284,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{284,150}}</string>
        <key>sourceSize</key>
        <string>{284,150}</string>
      </dict>
      <key>sticker_48_sleep_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1095,346},{181,234}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{181,234}}</string>
        <key>sourceSize</key>
        <string>{181,234}</string>
      </dict>
      <key>sticker_100_manhod_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1171,582},{179,235}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{179,235}}</string>
        <key>sourceSize</key>
        <string>{179,235}</string>
      </dict>
      <key>sticker_36_plant_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1126,1},{198,208}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{198,208}}</string>
        <key>sourceSize</key>
        <string>{198,208}</string>
      </dict>
      <key>sticker_28_paper_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,696},{202,184}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <true/>
        <key>sourceColorRect</key>
        <string>{{0,0},{202,184}}</string>
        <key>sourceSize</key>
        <string>{202,184}</string>
      </dict>
      <key>sticker_69_girlhold_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,819},{147,242}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,242}}</string>
        <key>sourceSize</key>
        <string>{147,242}</string>
      </dict>
      <key>sticker_102_yellman_whote.png</key>
      <dict>
        <key>frame</key>
        <string>{{651,1205},{187,188}}</string>
        <key>offset</key>
        <string>{-0.5,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{2,0},{187,188}}</string>
        <key>sourceSize</key>
        <string>{192,188}</string>
      </dict>
      <key>sticker_10_pull_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1172,1063},{183,191}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{183,191}}</string>
        <key>sourceSize</key>
        <string>{183,191}</string>
      </dict>
      <key>sticker_54_girlpurp_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{840,1255},{196,178}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{196,178}}</string>
        <key>sourceSize</key>
        <string>{196,178}</string>
      </dict>
      <key>sticker_40_boss_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1038,1256},{163,203}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{163,203}}</string>
        <key>sourceSize</key>
        <string>{163,203}</string>
      </dict>
      <key>sticker_65_sitangry_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{238,1218},{165,200}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{165,200}}</string>
        <key>sourceSize</key>
        <string>{165,200}</string>
      </dict>
      <key>sticker_19_bird_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1,1314},{200,162}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{200,162}}</string>
        <key>sourceSize</key>
        <string>{200,162}</string>
      </dict>
      <key>sticker_71_salesman_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{405,1218},{174,183}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{174,183}}</string>
        <key>sourceSize</key>
        <string>{174,183}</string>
      </dict>
      <key>sticker_42_kidup_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1203,1256},{111,239}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,239}}</string>
        <key>sourceSize</key>
        <string>{111,239}</string>
      </dict>
      <key>sticker_53_cat_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{862,595},{111,238}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,238}}</string>
        <key>sourceSize</key>
        <string>{111,238}</string>
      </dict>
      <key>sticker_8_fishbucket_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1126,211},{215,121}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{215,121}}</string>
        <key>sourceSize</key>
        <string>{215,121}</string>
      </dict>
      <key>sticker_93_potwide_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{581,1395},{217,103}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{217,103}}</string>
        <key>sourceSize</key>
        <string>{217,103}</string>
      </dict>
      <key>sticker_89_pot_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1326,1},{106,206}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{106,206}}</string>
        <key>sourceSize</key>
        <string>{106,206}</string>
      </dict>
      <key>sticker_55_cathappy_white.png</key>
      <dict>
        <key>frame</key>
        <string>{{1321,819},{126,172}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{126,172}}</string>
        <key>sourceSize</key>
        <string>{126,172}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>whiteSprites.png</string>
      <key>size</key>
      <string>{1448,1499}</string>
      <key>textureFileName</key>
      <string>whiteSprites</string>
    </dict>
  </dict>
</plist>
